@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

:root {
  font-family: 'Poppins', 'Montserrat', 'Times New Roman';
  --black: #0000;
  --color-1: #f6fff8;
  --color-2: #eaf4f4;
  --color-3: #cce3de;
  --color-4: #a4c3b2;
  --color-5: #6b9080;
}

/* Header  */
#header {
  height: 65px;
}

.header__navbar {
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
  gap: 15px;
}

.header__navbar__list {
  display: flex;
  gap: 15px;
  text-decoration: none;
  list-style-type: none;
  color: var(--black);
}

/* Main section  */
.main__hero {
  align-items: center;
  background: url(./assets/img-2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 55px);
  width: 100%;
}

.main__hero__presentation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 48px;
  padding: 200px 210px;
}

.main__hero__presentation h2,
h5 {
  background-color: var(--color-2);
  padding: 0px 4px;
}

.main__hero__presentation h6 {
  margin-bottom: 8px;
  padding: 0px 4px;
  margin-top: 30px;
  font-size: 24px;
  color: var(--color-1);
  background-color: var(--color-5);
}

/* Section of products  */

.main__plant__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

#main__plant__products {
  display: flex;
  flex-direction: column;
  margin: 100px 0px;
  gap: 25px;
}

#main__plant__products h2 {
  text-align: center;
  font-weight: 600;
}

.main__plant_product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 12px;
  gap: 30px;
  background-color: var(--color-3);
}

.main__plant__products__img {
  max-width: 300px;
  height: 400px;
  object-fit: cover;
}

/* Find Section  */

.main__find {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./assets/img-6-find.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 100%;
}

.main__find__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 16px;
  gap: 15px;
  background-color: var(--color-2);
  max-width: 60%;
  text-align: center;
}

.main__find__card h3 {
  font-weight: 600;
  font-size: 28px;
}
.main__find__card p span {
  text-decoration: underline;
}

/* About Us Section  */
main {
  background-color: var(--color-1);
}
#main__about {
  display: flex;
  align-items: center;
  padding: 36px 0px;
  background-color: var(--color-1);
}

.main__about__us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

.main__about__us h2 {
  font-weight: 600;
  font-size: 32px;
}

.about__us__p1 {
  padding: 12px 24px;
  text-align: center;
  font-size: 18px;
  max-width: 35%;
  background-color: var(--color-2);
}

.about__us__p2 {
  padding: 12px 24px;
  text-align: center;
  font-size: 20px;
  max-width: 50%;
  background-color: var(--color-3);
}

.about__us__p2 span {
  padding: 0px 3px;
  color: var(--color-1);
  background-color: var(--color-5);
}

.img-sierras {
  max-height: 80%;
  max-width: 50%;
  padding: 0px 40px;
}

/* Contact Section */

#main__contact {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--color-4);
}

.main__contact__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__contact__container p {
  padding: 6px 12px;
  background-color: var(--color-3);
  max-width: 300px;
  font-size: 18px;
}
.main__contact__form {
  padding: 20px 40px;
}
.main__contact__form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__contact__form form input,
textarea {
  font-family: Poppins;
  width: 300px;
  padding: 5px;
  padding-left: 6px;
  margin: 0;
  border: none;
  border-radius: 3px;
  font-weight: 400;
}

#btn-submit {
  cursor: pointer;
  font-size: 14px;
  height: 32px;
  background-color: var(--color-2);
}

/* Footer Section  */

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color-5);
  color: var(--color-1);
  padding: 80px 40px;
}

.footer__container {
  display: flex;
  gap: 100px;
}

.footer__-principal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__tittle {
  padding-bottom: 5px;
}

#input__email__footer {
  font-family: Poppins;
  border: none;
  border-radius: 3px;
  width: 300px;
  height: 30px;
  padding-left: 4px;
  font-size: 14px;
}

#input__btn__footer {
  cursor: pointer;
  font-family: Poppins;
  border: none;
  border-radius: 3px;
  width: 50px;
  height: 30px;
  font-size: 14px;
}
